.itemBlog {
  color: var(--black);
  font-family: var(--principal);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  .blogImage {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    margin: 0;
    @media (max-width: 640px) {
      margin-bottom: 1rem;
    }
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .blogTitle {
      font-size: 1.5rem;
      color: var(--primary);
      &::first-letter {
        text-transform: uppercase;
      }
      @media (max-width: 640px) {
        margin-bottom: 1rem;
      }
    }
    .metaData {
      width: 100%;
      display: flex;
      font-weight: 700;
      .date {
        margin-right: 1rem;
      }
      .data {
        color: var(--primary);
        font-weight: 700;
        margin-left: 0.5rem;
      }
      @media (max-width: 640px) {
        flex-direction: column;
        p {
          margin-bottom: 1rem;
        }
      }
    }
    .aboutText {
      line-height: 2;
      font-weight: 300;
      color: var(--secondary);
    }
    @media (max-width: 640px) {
      margin-bottom: 1rem;
    }
  }
  .ActionButton {
    background-color: var(--primary);
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0.3rem;
    color: var(--white);
    grid-column: 2/3;
    width: 8rem;
    font-weight: 700;
    transition: width ease-in-out 0.4s;
    &:hover {
      width: 10rem;
    }
  }
  @media (max-width: 640px) {
    display: block;
  }
  @media (max-width: 980px) {
    align-items: center;
  }
}
