.nav {
  width: 100%;
  font-family: var(--principal);
  .nav-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    li {
      @media (max-width: 640px) {
        margin-bottom: 0.65rem;
      }
    }
    .item {
      text-decoration: none;
      color: var(--black);
      font-weight: 700;
      text-transform: uppercase;
      transition: border-bottom ease-in-out 0.4s;
      border-bottom: transparent;
      &:hover {
        border-bottom: 3px solid var(--primary);
      }
    }
    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
